<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
@media screen and (min-width: 992px){
    .uvan{
        background-color: black;
        opacity: 80%;
        width: 100%;
        height: 130%;
    }
  }
@media screen and (max-width: 992px){
    .uvan{
        background-color: black;
        opacity: 80%;
        width: 100%;
        height: 130%;
    }
  }
</style>
</head>
<body>
    <table>
        <th>
            <img src='https://poster.keepcalmandposters.com/default/5883725_keep_calm_your_special_delivery_is_on_its_way.png'></img>
        </th>
        <th>
    <img src="<%=value%>"/>
</th>
</table>
</body>
</html>